@page "/fooditems/{id}"
@using Services

@code {
    
    [Inject]
    FoodItemService _repo { get; set; }
    
    [Inject]
    SchoolService _schoolrepo { get; set; }
    
    [Inject]
    NavigationManager NavigationManager { get; set; }

    [Parameter]
    public string id { get; set; }

    FoodItem item = null;


    protected override void OnInitialized()
    {
        if (id != (new Guid()).ToString()) {
            item = _repo.Get(id);
        } else {
            item = new FoodItem();
        }
    }

    protected void HandleInValidSubmit()
    {
        // Do nothing
    }

    protected void HandleValidSubmit()
    {
        // Save
        _repo.InsertOrUpdate(item);
        
        // Navigate back 
        NavigationManager.NavigateTo("/fooditems");
    }

    protected void OnClick_Delete(FoodItem FoodItem)
    {
        // Save
        _repo.Delete(FoodItem);
        
        // Navigate back 
        NavigationManager.NavigateTo("/fooditems");
    }

}

<AuthorizeView Context="user">
    <Authorized>
      
    <div class="container">

    @if(item != null) {
        <EditForm Model="@item" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInValidSubmit">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-3">ID</div>
                <div class="col-sm-6">@item.Id.ToString()</div>
            </div>
            <div class="form-group row">
                <label for="resourceName" class="col-sm-3">Name: </label>
                <InputText id="resourceName" class="form-control col-sm-8" @bind-Value="@item.Name"></InputText>
                <ValidationMessage class="offset-sm-3 col-sm-68" For="@(() => item.Name)" />
            </div>
            <div class="form-group row">
                <label for="resourceName" class="col-sm-3">Cost: </label>
                <InputNumber id="resourceName" class="form-control col-sm-8" @bind-Value="@item.Cost"></InputNumber>
                <ValidationMessage class="offset-sm-3 col-sm-68" For="@(() => item.Cost)" />
            </div>
            <div class="form-group row">
                <label for="resourceName" class="col-sm-3">Description: </label>
                <InputText id="resourceName" class="form-control col-sm-8" @bind-Value="@item.Description"></InputText>
                <ValidationMessage class="offset-sm-3 col-sm-68" For="@(() => item.Description)" />
            </div>
            <div class="form-group row">
                <label for="resourceSchool" class="col-sm-3">School: </label>
                <InputSelect  id="resourceSchool" class="form-control col-sm-8" @bind-Value="@item.SchoolId">
                    <option value="@(new Guid())">-</option>
                    @foreach (School school in _schoolrepo.GetAll())
                    {
                        <option value="@(school.Id)">@(school.Name)</option>
                    }
                </InputSelect>
                <ValidationMessage class="offset-sm-3 col-sm-68" For="@(() => item.SchoolId)" />
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">                
                <div class="col">
                    <button type="button" class="btn btn-danger btn-block" @onclick="() => OnClick_Delete(item)">Delete</button>
                </div>
                <div class="col"></div>
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block">Save</button>
                </div>
            </div>
        </div>

        </EditForm>
    } else {
        <i>Object not found</i>
    }
</div>
    </Authorized>
</AuthorizeView>